<f:if condition="{schools}">
  <f:then>
    <div class="list gridright scroll-container">
      <f:widget.paginate objects="{schools}" as="paginatedSchools" configuration="{itemsPerPage: settings.pageBrowser.itemsPerPage, insertAbove: settings.pageBrowser.insertAbove, insertBelow: settings.pageBrowser.insertBelow, maximumNumberOfLinks: settings.pageBrowser.maximumNumberOfLinks, addQueryStringMethod: 'GET,POST'}">
        <f:for each="{paginatedSchools}" as="school">
          <div class="marginbottom scroll-item clearfix">
            <div class="entry grid_10 floatleft borderbottom">
              <h2 class="noborder nomargin">
                <f:link.action action="show" pageUid="{settings.pidOfDetailPage}" controller="School" arguments="{school: school}">{school.title}</f:link.action>
              </h2>

              <div class="grid_6 floatleft">
                <f:render partial="School/Address" arguments="{school: school}"/>
                <f:if condition="{school.district}">
                  <br /><f:translate key="tx_schooldirectory_domain_model_school.district"/>: {school.district.district}
                </f:if>
              </div>
              <div class="grid_6 floatleft">
                <f:render partial="School/Contact" arguments="{school: school}"/>
              </div>
            </div>
          </div>
        </f:for>
      </f:widget.paginate>
    </div>
  </f:then>
  <f:else>
    <div class="noResults"><f:translate key="noResults" /></div>
  </f:else>
</f:if>
