{namespace sd=JWeiland\Schooldirectory\ViewHelpers}

<f:if condition="{school.logo}">
	<f:then>
		<sd:grayScaleImage image="{school.logo}" alt="Logo: {school.title}" width="{settings.list.image.width}" height="{settings.list.image.height}" minWidth="{settings.list.image.minWidth}" maxWidth="{settings.list.image.maxWidth}" minHeight="{settings.list.image.minHeight}" maxHeight="{settings.list.image.maxHeight}" />
	</f:then>
	<f:else>
		<f:if condition="{school.holder.logo}">
			<f:then>
				<sd:grayScaleImage image="{school.holder.logo}" alt="Logo: {school.title}" width="{settings.list.image.width}" height="{settings.list.image.height}" minWidth="{settings.list.image.minWidth}" maxWidth="{settings.list.image.maxWidth}" minHeight="{settings.list.image.minHeight}" maxHeight="{settings.list.image.maxHeight}" />
			</f:then>
			<f:else>
				<sd:grayScaleImage src="EXT:schooldirectory/Resources/Public/Images/school.png" alt="Logo: {school.title}" width="{settings.list.image.width}" height="{settings.list.image.height}" minWidth="{settings.list.image.minWidth}" maxWidth="{settings.list.image.maxWidth}" minHeight="{settings.list.image.minHeight}" maxHeight="{settings.list.image.maxHeight}" />
			</f:else>
		</f:if>
	</f:else>
</f:if>