{namespace maps2=JWeiland\Maps2\ViewHelpers}
{namespace s=JWeiland\Schooldirectory\ViewHelpers}

<div class="thumbnail grid_1 floatleft">
	<figure class="marginbottom gridrightstd">
		<f:render partial="School/Logo" arguments="{school: school}"/>
	</figure>
</div>
<div class="grid_11 floatleft marginbottom"><h1>{school.title}</h1></div>
<div class="grid_12 clearer clearfix">
	<div class="grid_6 floatleft">
		<div class="gridright">
			<f:if condition="{school.images -> f:count()}">
				<figure class="gridright marginbottom2">
					<f:render partial="School/Images" arguments="{school: school}" />
				</figure>
			</f:if>

			<f:if condition="{school.additionalInformations}">
				<f:format.html>{school.additionalInformations}</f:format.html>
			</f:if>
			<f:if condition="{school.notes}">
				<f:format.html>{school.notes}</f:format.html>
			</f:if>

			<f:if condition="{school.types -> f:count()}">
				<h2><f:translate key="tx_schooldirectory_domain_model_school.types"/>:</h2>
				<f:for each="{school.types}" as="type">
					<div class="frame-custom-40 shorten rulerafter marginbottom">
						<div class="shortencontent shortenalways">
							<header>
								<h3 class="showmore">
									<span aria-hidden="true" class="icon-plus"></span><span>{type.title}</span>
								</h3>
							</header>
							<f:format.html>{type.description}</f:format.html>
						</div>
					</div>
				</f:for>
			</f:if>
			<f:if condition="{school.profileContents -> f:count()}">
				<h2><f:translate key="tx_schooldirectory_domain_model_school.profile_contents"/>:</h2>
				<f:for each="{school.profileContents}" as="profileContent">
					<div class="frame-custom-40 shorten rulerafter marginbottom">
						<div class="shortencontent shortenalways">
							<header>
								<h3 class="showmore"><span aria-hidden="true" class="icon-plus"></span><span>{profileContent.title}</span></h3>
								<f:format.html>{profileContent.description}</f:format.html>
							</header>
						</div>
					</div>
				</f:for>
			</f:if>
			<f:if condition="{school.careForms -> f:count()}">
				<h2><f:translate key="tx_schooldirectory_domain_model_school.care_forms"/>:</h2>
				<f:for each="{school.careForms}" as="careForm">
					<div class="frame-custom-40 shorten rulerafter marginbottom">
						<div class="shortencontent shortenalways">
							<header>
								<h3 class="showmore">
									<span aria-hidden="true" class="icon-plus"></span><span>{careForm.title}</span>
								</h3>
							</header>
							<f:format.html>{careForm.description}</f:format.html>
						</div>
					</div>
				</f:for>
			</f:if>
			&nbsp;
		</div>
	</div>

	<div class="grid_6 floatleft">
		<div class="gridleft clearfix rulerbefore4">
			<dl class="extdl">
				<dd>
					{school.title}<br />
					<f:render partial="School/Address" arguments="{school: school}"/>
				</dd>
			</dl>
			<dl class="extdl clearfix rulerafter">
				<dd class="grid_8 floatleft noborder">
					<f:render partial="School/Contact" arguments="{school: school}"/>
				</dd>
				<f:if condition="{school.txMaps2Uid}">
					<dd class="grid_4 floatleft noborder">
						<figure>
							<f:link.action title="{f:translate(key: 'LLL:fileadmin/templates/language/locallang.xml:mapview')}"
														 action="show"
														 controller="PoiCollection"
														 extensionName="maps2"
														 pluginName="maps2"
														 pageUid="{settings.pidOfMaps2Plugin}"
														 arguments="{poiCollection: school.txMaps2Uid}">
								<f:image class="floatright" src="fileadmin/templates/img/thumbmaps.png" alt="{f:translate(key: 'altTextMapImg')}"/>
							</f:link.action>
						</figure>
					</dd>
				</f:if>
			</dl>
			<dl class="extdl">
				<f:render partial="School/SingleLine" arguments="{field: 'district', value: school.district.district}"/>
				<f:render partial="School/SingleLine" arguments="{field: 'leader', value: school.leader}" />
				<f:render partial="School/SingleLine" arguments="{field: 'amount_of_students', value: school.amountOfStudents}" />
				<f:render partial="School/SingleLine" arguments="{field: 'profile_title', value: school.profileTitle}" />
				<f:if condition="{school.schoolWayPlan}">
					<dt><f:translate key="tx_schooldirectory_domain_model_school.school_way_plan"/>:</dt>
					<dd><f:link.typolink parameter="{school.schoolWayPlan}">Download</f:link.typolink></dd>
				</f:if>

				<f:render partial="School/SingleLine" arguments="{field: 'holder', value: school.holder.title}" />
			</dl>
			<f:render partial="School/Social.html" arguments="{school: school}"/>
		</div>
	</div>
</div>
