<html lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:if condition="{school.facebook}">
    <f:link.external target="_blank"
                     uri="{school.facebook}"
                     class="facebookicon floatleft"
                     title="Facebook">
        <span class="icon socialicons"></span>
    </f:link.external>
</f:if>
<f:if condition="{school.twitter}">
    <f:link.external target="_blank"
                     uri="{school.twitter}"
                     class="twittericon floatleft"
                     title="Twitter">
        <span class="icon socialicons"></span>
    </f:link.external>
</f:if>
<f:if condition="{school.instagram}">
    <f:link.external target="_blank"
                     uri="{school.instagram}"
                     class="instagramicon floatleft"
                     title="Instagram">
        <span class="icon socialicons"></span>
    </f:link.external>
</f:if>
</html>
