<f:if condition="{school.facebook}">
	<f:link.external target="_blank" uri="{school.facebook}" class="facebookicon floatleft" title="<f:translate key='LLL:fileadmin/templates/language/locallang.xml:facebook'/>"><span class="icon socialicons"></span>
	</f:link.external>
</f:if>
<f:if condition="{school.twitter}">
	<f:link.external target="_blank" uri="{school.twitter}" class="twittericon floatleft" title="<f:translate key='LLL:fileadmin/templates/language/locallang.xml:twitter'/>"><span class="icon socialicons"></span>
	</f:link.external>
</f:if>
<f:if condition="{school.google}">
	<f:link.external target="_blank" uri="{school.google}" class="googleicon floatleft" title="<f:translate key='LLL:fileadmin/templates/language/locallang.xml:google'/>"><span class="icon socialicons"></span>
	</f:link.external>
</f:if>
