<div class="search clearfix">
	<f:form action="list" name="search" class="extform">
		<div class="extdiv">
			<label><f:translate key="street" /></label>
			<f:form.textfield name="street" value="{street}" />
		</div>
		<div class="extdiv">
			<label><f:translate key="number" /></label>
			<f:form.textfield name="number" value="{number}" />
		</div>
		<div class="extdiv">
			<label><f:translate key="letter" /></label>
			<f:form.textfield name="letter" value="{letter}" />
		</div>
		<div class="submitwrap formindent"><f:form.submit value="{f:translate(key: 'search')}"/></div>
	</f:form>
</div>